RewriteEngine On

RewriteRule ^anasayfa$ index.php [L,QSA]

RewriteRule ^giris-yap$ login.php [L,QSA]
RewriteRule ^uye-ol$ register.php [L,QSA]
RewriteRule ^oturumu-kapat$ logout.php [L,QSA]

RewriteRule ^ayarlar$ settings.php [L,QSA]
RewriteRule ^user/([0-9a-zA-Z-_]+)$ profile.php?username=$1 [L,QSA]

RewriteRule ^messages/conversation$ conversation.php?with=$1 [L,QSA]
RewriteRule ^messages/gelen-kutusu$ inbox.php [L,QSA]
