.button-color1 {
    background-color: #EC255A;
    color: white;
}

.white-text {
    color: white;
}

.my-links {
    text-decoration: none;
    color: black;
}

.content-share {
    background-color: #F8F9FA;
}

.content-button {
    background: none;
    border: none;
}
