.font-16 {
    font-size: 16px;
}

.profileInfoText {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.text-on-right {
    text-align: right;
}

.text-on-left {
    text-align: left;
}
