body, html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-30 {
  margin-top: 30px;
}

.padding-15 {
    padding: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-content {
    align-items: center;
    justify-content: center;
}

.message-box-1 {
  display: inline-block;
  background-color: #27496D;
  color: white;
}

.message-box-2 {
  display: inline-block;
  background-color:#0C7B93;
  color: white;
}

.conversation-area {
  overflow: scroll;
  height: 600px;
}
